.logo-text{    
    color: #77530a;
    position: sticky;
    top: 10px;
    left: 10px;
    font-size: 40px;
    display: flex;
}

.logo-text p {
    font-size: 24px;
    font-weight: 500;
    font-style: italic  ;
}

.burger {
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    margin: 7px;
    width: 60px;
    height: 55px;
    background-color: rgb(255, 145, 0);
    box-shadow:
        0 0 0 4px wheat,
        -2px 5px 5px #00000083;
    border-radius: 21% 23% 27% 41% / 32% 50% 10% 19% ;
    z-index: 10;
}

.burger iconify-icon {
    font-size: 36px;
    text-shadow: -2px -5px 5px rgb(0, 0, 0);
}

.sidebar {
    position: fixed;
    top: 40px;
    right: -330px;
    padding: 10px;
    margin: 7px;
    width: 320px;
    height: 200px;
    background-color: rgb(255, 145, 0);
    box-shadow:
        0 0 0 4px wheat,
        -2px 5px 5px #00000083;

    border-radius: 21% 23% 27% 41% / 32% 50% 10% 19% ;
    z-index: 8;
}

.sidebar ul {
    list-style: none;
    margin: 20px;
}

.sidebar li {
    margin-bottom: 20px;
}

.floating-cta {
    position: fixed;
    top: 0;
    right: -330px;
    padding: 10px;
    margin: 7px;
    width: 180px;
    height: 45px;
    background-color: rgb(255, 145, 0);
    box-shadow:
        0 0 0 4px wheat,
        -2px 5px 5px #00000083;

    border-radius: 37% 34% 36% 26% / 10% 36% 34% 34% ;
    z-index: 9;
}

.floating-cta h1 {
    font-size: 17px;
}

@keyframes moveRightToLeft {
    0% {right: -330px}
    100% {right: -110px}
}

@keyframes moveLeftToRight {
    0% {right: -110px}
    100% {right: -330px}
}

@keyframes CTAmoveLeftToRight {
    0% {right: -330px}
    100% {right: 7px}
}

@keyframes CTAmoveRightToLeft {
    0% {right: 7px}
    100% {right: -330px}
}