.lang-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: var(--step-0) auto;
    margin-bottom: 0;    
}

.lang-buts-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.lang-title {
    margin: 20px;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 5px;
    color: #4f4242;
}

.lang-buts-cont div {
    margin: 7px 14px;
    padding: 7px 14px;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.712);
    transition: transform 0.3s ease-in-out;
    filter: grayscale(1) brightness(110%);
}

.engBut {
    background: url("https://tse4.mm.bing.net/th?id=OIP.954sjPZNzESmp8v36WbLVgHaE8&pid=Api&P=0&h=180");
}

.filBut {
    background: url("https://tse1.mm.bing.net/th?id=OIF.kLjU6aJpfdss02HllgFTuQ&pid=Api&P=0&h=180");     
}

.lang-buts-cont div:hover, .lang-buts-cont div:focus { 
    transform: scale(1.1);
    filter: grayscale(0) brightness(100%);
}

.lang-buts-cont div:active {
    box-shadow: inset 0 0 10px rgb(0, 0, 0);
}

.test {
    background-color: whitesmoke;
    height: 100vh;    
    background: linear-gradient(45deg, #D3A23C, #AF7838, #FBFAB7, #C29537, #9D6803);
}

.page-wrapper {
    flex-direction: column;
}

.loading-message {
    animation: pulse .5s ease infinite;
}

@keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: .5;
    }
}

.test-container {
    display: none;
    width: min(600px, 90%);    
    margin: var(--step-0) auto;
    margin-bottom: 0;    
    border: 1px solid black;
    border-radius: 10px;
    box-shadow:
        0 0 1px #00000059,
        0 0 0 10px white,
        1px 2px 15px 20px #00000059;
    background-color: white;
}

.question-container {
    padding: var(--step--10) 0;
    border-radius: 10px 10px 0 0;
    border-bottom: 1px solid #ccc;
    background-color: #e4e4e4;
    text-align: center;
    padding: 20px;
}

.question {
    margin: 5px 0;  
    font-weight: 700;
    font-size: 14px;
}

.answers-container{
    text-align: center;
    padding: 20px 0;
}

.answer {
    padding: var(--step--10) var(--step--2);
    font-size: 14px;
    color: rgb(46, 46, 46);
}

.answer:hover{
    background-color: #f1dcbf;
    color: black;
}

.answer:active{
    background-color: #f3cb94;
}

.question::selection,
.answer::selection {
    background-color: transparent;
}

input[type="radio"] {
    display: none;
}

.loading {
    text-align: center;
    padding: 20px;
    color: rgb(170, 170, 170);
}

@media screen and (max-width: 730px){
    .lang-buts-cont {
        flex-direction: column;
    }
}